
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/stage-collect-order"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="title-center" >Order Staging</ion-title>
    <ion-buttons slot="primary">
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

  <ion-content class="ion-padding">
    <ion-toolbar>
      <ion-title class="title-left"><span style="color: #C4DBF2">|</span>Box Successfully Staged</ion-title>
      <ion-button fill="none" id="open-modal" slot="primary">
        <ion-icon slot="icon-only"  color="primary" name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>

    <ion-card class="blue-bg">
      <ion-card-header>
        <ion-card-title><span style="color: #4471ee;">|</span>Swanston Cameras</ion-card-title>
      </ion-card-header>
    
      <ion-card-content style="padding-inline: 10px;">
        <ion-grid>
          <ion-row>
            <ion-col>
              <label>Order Number</label>
              <p>L2201090</p>
            </ion-col>
            <ion-col>
              <!-- <div style="background-color:#faecd1;text-align: center;color:#C28632">
                PACK ORDER
              </div> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <label>Box#</label>
              <p>300001</p>
            </ion-col>
            <!-- <ion-col>
              <label>Box staging progress</label>
              <p>0 of 3</p>
            </ion-col> -->
          </ion-row>
          <ion-row>
            <ion-col>
              <label>Total Boxes to stage</label>
              <p>3</p>
            </ion-col>
            <ion-col>
              <label>Remaining Boxes</label>
              <p>1</p>
            </ion-col>
          </ion-row>
          
        </ion-grid>

      </ion-card-content>
    </ion-card>      
  
  </ion-content>
  <ion-footer class="ion-no-border">
    
    <ion-button mode="md" style="width: 100%;" class="btn btn-dark" [disabled]="barcode == ''" (click)="completeStage()">Continue</ion-button>
  </ion-footer>

  