

ion-content{
    --background : #fff;
}


ion-item{
    border-radius: 8px;
    h3{
        font-weight: 600;
        padding-block: 10px;
    }

}
.yellow-card{
    --background:#FCF8C2
}
ion-toolbar {
    .title-left {
      padding-inline-start: 0;
      padding-inline-end: 0;
      text-align: left;
      padding-left: 5px;
  
    }
}