
  <ion-header collapse="fade" [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/transfer3"></ion-back-button>
      </ion-buttons>
  
      <div class="ion-page" id="main-content1">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
              Transfer Order
            </ion-title>
          </ion-toolbar>
        </ion-header>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-list-header>
      <ion-toolbar>
        <ion-label class="borderLeftYellow" color="dark" style="text-align: left;">Select Task</ion-label>
        <!-- <ion-label color="dark"><span style="color: #fcc38d">|</span> Scanned Products</ion-label> -->
        <ion-buttons slot="end">
          <ion-icon style="color:  #e87100;" name="alert-circle-outline" id="open-modal" class="enlargeicon"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-list-header>
  
  <ion-row>
    <ion-col size="12">
      <ion-item  class="yellow-card" (click)="gotoUrgentbinrefill()">
        <ion-label>
          <h3>Urgent Bin Refills</h3>
        </ion-label>
        <ion-icon  name="arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item  class="yellow-card" (click)="stageCollect()">
        <ion-label>
          <h3>Bin Lookup</h3>
        </ion-label>
        <ion-icon  name="arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item  class="yellow-card" (click)="browse()">
        <ion-label>
          <h3>Item search</h3>
        </ion-label>
        <ion-icon  name="arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  
  
</ion-content>

