<ion-header collapse="fade" [translucent]="true" class="ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transer-scanpickbin"  size="large"></ion-back-button>
    </ion-buttons>
      <ion-title >Bin Refills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list [inset]="true">
    <ion-item>
      <ion-icon slot ="end" name="arrow-forward-outline"></ion-icon>
      <ion-label (click)="gotoUrgentbinrefill()">Urgent Bin Refill</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-icon slot ="end" name="arrow-forward-outline"></ion-icon>
      <ion-label>Bin Refill List</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true" (click)="gotoBinrefills()">
    <ion-item >
      <ion-icon slot ="end" name="arrow-forward-outline"></ion-icon>
      <ion-label>Bin Lookup</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-icon slot ="end" name="arrow-forward-outline"></ion-icon>
      <ion-label>Item Search</ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="true">
    <ion-item>
      <ion-icon slot ="end" name="arrow-forward-outline"></ion-icon>
      <ion-label (click)="gotoTransfer()">Main Menu</ion-label>
    </ion-item>
  </ion-list>
 
  
  
</ion-content>
