<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button>
            <ion-back-button  defaultHref="/scan-putaway-transfer-bin"></ion-back-button>
            <!-- <ion-icon  defaultHref="/despatch" slot="icon-only" name="arrow-back"></ion-icon> -->
          </ion-button>
        </ion-buttons>
        <ion-title class="title-center" >Transfer</ion-title>
        <ion-buttons slot="primary">
          <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        </ion-buttons>
      </ion-toolbar>  
    </ion-header>
    
    <div class="ion-padding">


      <!-- <div>
        <ion-icon style="height: 40%;width: 30%;" size="large" name="cube-outline"></ion-icon>
      </div> -->
      <!-- <ion-card> -->
        <div class="icon-div">
          <ion-icon style="font-size: 7rem;text-align: center;color:#4471ee" (click)="stage()" name="cube-outline"></ion-icon>
          <!-- <ion-card-header> -->
            <ion-card-title>Transfer Order Complete</ion-card-title>
        </div>
        
        <!-- </ion-card-header> -->
      <!-- </ion-card> -->
      
      <ion-card class="yellow-card">
        <ion-card-header>
          <ion-card-title>
            <div class="col col-50">&nbsp;Hasselbald 500 C/M</div>
          </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <label>Reference</label>
                <p>T0-0431-7311</p>
              </ion-col>
              <!-- <ion-col>
                <div class="bar-green">
                  ALLOCATED
                </div>
              </ion-col> -->
            </ion-row>
            <ion-row>
              <ion-col>
                <label>Status</label>
                <p>Closed</p>
              </ion-col>
            </ion-row>        
          </ion-grid>
  
        </ion-card-content>
      </ion-card>
      
    </div>
    

<!-- </ion-content> -->
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-button mode="md" style="width: 100%;margin-right: 2%;" class="btn btn-dark" (click)="home()">Continue</ion-button>
  </ion-footer>
</div>
