<!-- <ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/signup">
        Sign up
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="ion-padding ion-full-height ion-flex ion-flex-center">

    <div class="logo-container">
      <h1 class="logo-placeholder">Mobility Assistant</h1>
      <p>Login to start using the Datapel Mobility Assistance.
        Enter the registered email address and password.</p>
    </div>

    <form class="form-default" [formGroup]="signin_form" (submit)="signIn()">

      <ion-list class="item-card-list" lines="none">
        <ion-item>
          <ion-label color="tertiary" position="stacked">Email</ion-label>
          <ion-input formControlName="email" type="email" autocomplete="off"
            placeholder="Your email address"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top-small">
          <ion-label color="tertiary" position="stacked">Password</ion-label>
          <ion-input formControlName="password" type="password" placeholder="Your password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button class="ion-margin-top" type="submit" expand="block" color="primary">
        Sign in
      </ion-button>

      <div style="text-align: center;margin-top: 5%;">
        <!-- <h2 class="logo-placeholder" style="color: white;font-size: 28px;font-weight: bold;">Mobility Assistant</h2> -->
        <p style="color:black">Dont't have a login? Contact your administrator to set one up or contact <a>Datapel
            support</a></p><br>
        <!-- <a style="text-decoration-line: none;" href="">SIGN UP</a> -->
      </div>
    </form>

  </div>

</ion-content>