<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transfer-bin-source"></ion-back-button>
    </ion-buttons>

    <div class="ion-page" id="main-content1">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            Transfer Order
          </ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">

    <ion-list-header>
      <ion-toolbar>
        <ion-label class="borderLeftYellow" color="dark" style="text-align: left;">Select Destination Location</ion-label>
        <!-- <ion-label color="dark"><span style="color: #fcc38d">|</span> Scanned Products</ion-label> -->
        <ion-buttons slot="end">
          <ion-icon style="color:  #e87100;" name="alert-circle-outline" id="open-modal"
            class="enlargeicon"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-list-header>

    <div  style="padding-left: 8px;">
      <ion-row>
        <ion-col style="color: gray" >Source</ion-col>
      </ion-row>    
  
      <ion-row>
        <ion-col style="color:black">Bayswater</ion-col>
      </ion-row>
    </div>


    <ion-row>
      <ion-col size="12">
        <ion-item  class="grey-card" (click)="browse()">
          <ion-label>
            <h3>Bayswater</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" (click)="transferDestination()">
          <ion-label>
            <h3>Bendotti</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" (click)="stageCollect()">
          <ion-label>
            <h3>Cold Store</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" (click)="browse()">
          <ion-label>
            <h3>FO</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" (click)="browse()">
          <ion-label>
            <h3>ISA</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
 

</ion-content>



  <!--TO DISPLAY MODAL-->
  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content class="ion-padding">
      <ion-header >
        <ion-toolbar>
          <ion-title class="title-left"><span>| </span>Barcode Shortcut Codes</ion-title>
        </ion-toolbar>
      </ion-header>
  
    
          <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
            <ion-row style="color: black;">
              <ion-col size="3" style="text-align: center"><p class="">*9</p></ion-col>
              <ion-col><h6 >Broken Barcode (Accept)</h6></ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
            <ion-row  style="color: black;">
              <ion-col size="3" style="text-align: center"><p class="">*1</p></ion-col>
              <ion-col><h6>Skip Next Item</h6></ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
            <ion-row  style="color: black;" >
              <ion-col size="3" style="text-align: center"><p class="">*0</p></ion-col>
              <ion-col><h6> Stock Out Zero Line </h6></ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
            <ion-row style="color:black;">
              <ion-col size="3" style="text-align: center"><p class="">*</p></ion-col>
              <ion-col><h6 >None-Stock Item (Accept)</h6></ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-button class="" expand="block" (click)="modal.dismiss()">Back</ion-button>
        
          <ion-grid class="item-has-start-slot item md item-fill-none ion-activatable ion-focusable hydrated " style="padding-top: 20px;">
            <ion-row >
              <ion-col size="3" style="text-align: center"><p class=""></p></ion-col>
              <ion-col><h6 ></h6></ion-col>
            </ion-row>
          </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>