<!-- <ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Despatch
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/settings">
        <ion-icon slot="icon-only"  name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Mobility Assistant</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
  
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/home2"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="title-center">Despatch</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content class="ion-padding">
  
    <ion-list-header>
      <ion-toolbar>
        <ion-label class="borderLeftBlue" color="dark" style="text-align: left;">Select Task</ion-label>
        <!-- <ion-label color="dark"><span style="color: #fcc38d">|</span> Scanned Products</ion-label> -->
        <ion-buttons slot="end">
          <ion-icon style="color:  #e87100;" name="alert-circle-outline" id="open-modal" class="enlargeicon"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-list-header>
  

    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" class="blue-card" (click)="browse()">
          <ion-label>
            <h3>Browse Orders</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="blue-card" (click)="search()">
          <ion-label>
            <h3>Search Order</h3>
          </ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="blue-card" (click)="stageCollect()">
          <ion-label>
            <h3>Stage & Collect Order</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- <ion-list class="list-custom" lines="full">
      <ion-item button class="blue-card" (click)="browse()">
        <ion-label>
          <h3>Browse Order</h3>
        </ion-label>
      </ion-item>
      <ion-item button class="blue-card" (click)="search()">
        <ion-label>
          <h3>Search Order</h3>
        </ion-label>
      </ion-item>
      <ion-item button  class="blue-card" routerLink="/stage-collect-order">
        <ion-label>
          <h3>Stage & Collect Order</h3>
        </ion-label>
      </ion-item>
    </ion-list> -->
  <!-- </div> -->


  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content class="ion-padding">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title class="title-left"><span class="blue-text">| </span>Barcode Shortcuts & Description</ion-title>
        </ion-toolbar>
      </ion-header>
  
          <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
            <ion-row style="color: black;">
              <ion-col size="3" style="text-align: center"><p class="">*9</p></ion-col>
              <ion-col><h6 >Broken Barcode (Accept)</h6></ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
            <ion-row >
              <ion-col size="3" style="text-align: center"><p class="">*1</p></ion-col>
              <ion-col><h6 >Skip Item</h6></ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
            <ion-row >
              <ion-col size="3" style="text-align: center"><p class="">*0</p></ion-col>
              <ion-col><h6 >Zero Line</h6></ion-col>
            </ion-row>
          </ion-grid>
  
          <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
            <ion-row >
              <ion-col size="3" style="text-align: center"><p class="">*</p></ion-col>
              <ion-col><h6 >Pick NonStock</h6></ion-col>
            </ion-row>
          </ion-grid>
          
      
      
          <ion-button class="" expand="block" (click)="modal.dismiss()">Back</ion-button>
        
          <ion-grid class="item-has-start-slot item md item-fill-none ion-activatable ion-focusable hydrated " style="padding-top: 20px;">
            <ion-row >
              <ion-col size="3" style="text-align: center"><p class=""></p></ion-col>
              <ion-col><h6 ></h6></ion-col>
            </ion-row>
          </ion-grid>
  
  
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
