<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/enter-qty"></ion-back-button>
    </ion-buttons>
    <ion-title>Transfer</ion-title>
    <ion-button slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-header class="text-title">Scan Putaway Bin</ion-header>
    <ion-buttons slot="end">
      <ion-icon id="open-modal8" name="alert-circle-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <form class="form-default">
    <ion-list class="item-card-list" lines="none">
      <ion-item>
        <ion-label color="tertiary" position="stacked">
          <ion-icon name="barcode-outline"></ion-icon>
          Enter or Scan Barcode
        </ion-label>
        <ion-input placeholder="xxxx-xxxx-xxxx-xxxx" name="barcode" [(ngModel)]="barcode"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-row class="blue-bg">
    <ion-col class="bold-text">Source</ion-col>
    <ion-col class="bold-text">Destination</ion-col>
  </ion-row>
  <ion-row class="blue-bg">
    <ion-col>Photo-Inwards</ion-col>
    <ion-col>Photo-Main</ion-col>
  </ion-row>

  <div class="ion-padding">
    <ion-card class="ion-card-chart ion-no-margin animate__animated animate__fadeIn mt 10 bg-orange rounded-card custom-card">
      <ion-list-header>FujiFilm X100V</ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            Item Number
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="black-text">
            Item placeholder
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Lot#</ion-col>
          <ion-col class="black-text">05</ion-col>
          <ion-col>Quantity</ion-col>
          <ion-col class="black-text">05</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>BIN*</ion-col>
          <ion-col class="black-text">A-20</ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <ion-modal #modal trigger="open-modal8" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Info</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="ion-padding">
        <ion-toolbar>
          <ion-title class="text-center">Barcode Shortcut Code</ion-title>
        </ion-toolbar>

        <ion-grid [fixed]="true">
          <ion-row class="row-with-line-break">
            <ion-col class="col">*9 Broken barcode(Accept)</ion-col>
          </ion-row>
        
          <ion-row class="row-with-line-break">
            <ion-col class="col">*1 Skip next item</ion-col>
          </ion-row>
        
          <ion-row class="row-with-line-break">
            <ion-col class="col">*0 Stock out zero line</ion-col>
          </ion-row>
        
          <ion-row class="row-with-line-break">
            <ion-col class="col">* None-stock item (Accept)</ion-col>
          </ion-row>
        </ion-grid>
        
  
        <ion-button (click)="modal.dismiss()" expand="block" class="modal-button">Back</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  

</ion-content>

<ion-footer>
  <ion-button mode="md" style="width: 100%;" class="btn btn-dark" [disabled]="barcode == ''" (click)="checkBarcodeInput()">
    <ion-icon name="scan" style="margin-right: 10px;"></ion-icon>Continue
  </ion-button>
</ion-footer>
