<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/enter-qty"></ion-back-button>
    </ion-buttons>
    <ion-title>Transfer</ion-title>
    <ion-button slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar class="header-with-underline">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/enter-qty"></ion-back-button>
    </ion-buttons>
    <ion-title>Bin Lookup</ion-title>
    
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" [fullscreen]="true">
  <ion-list-header>
    <ion-toolbar>
      <ion-label class="borderLeftYellow" color="dark" style="text-align: left;">Scan Putaway Bin</ion-label>
      <!-- <ion-label color="dark"><span style="color: #fcc38d">|</span> Scanned Products</ion-label> -->
      <ion-buttons slot="end">
        <ion-icon style="color:  #e87100;" name="alert-circle-outline" id="open-modal6"
          class="enlargeicon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-list-header>

  <form class="form-default">
    <ion-list class="item-card-list" lines="none">
      <ion-item>
        <ion-label color="tertiary" position="stacked">Enter or Scan Barcode</ion-label>
        <!-- <ion-input  placeholder="xxxx-xxxx-xxxx-xxxx" name="barcode" [(ngModel)]="barcode" ></ion-input> -->
        <ion-input  #input (keyup.enter)="checkBarcodeInput()" placeholder="xxxx-xxxx-xxxx-xxxx" name="barcode" [(ngModel)]="barcode" [autofocus]="true"></ion-input>  
      </ion-item>
    </ion-list>
  </form>

  <ion-row class="blue-bg">
    <ion-col class="bold-text1">Source</ion-col>
    <ion-col class="bold-text1">Destination</ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="color:black">{{transferParam?.source.LocationCode}}</ion-col>
    <ion-col style="color:black">{{transferParam?.destination.LocationCode}}</ion-col>
  </ion-row>
  <br>

  <ion-card>
    <ion-card-header>
      <ion-label class="borderLeftYellow" color="dark" style="font-weight: bolder;font-size: 16px;">{{transferParam?.product.ItemName}}</ion-label>
    </ion-card-header>

    <ion-card-content style="padding-inline: 10px;" class="yellow-card">
      <ion-row>
        <ion-col size="12" style="color: gray;">Item Number <br />
          <div class="bold-text mt-5">{{transferParam?.product.ItemNumber}}</div>
        </ion-col>
        <ion-col size="6" style="color: gray;">Lot#<br />
          <div class="bold-text mt-5">{{transferParam?.scannedLot}}</div>
        </ion-col>
        <ion-col size="6" style="color: gray;">Quantity<br />
          <div class="bold-text mt-5">{{transferParam?.scanQty}}</div>
        </ion-col>
        <ion-col size="6" style="color: gray;">Pick BIN<br />
          <div class="bold-text mt-5">{{transferParam?.pickBin.BinName}}</div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  

  <ion-modal #modal trigger="open-modal8" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Info</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="ion-padding">
        <ion-toolbar>
          <ion-title class="text-center">Barcode Shortcut Code</ion-title>
        </ion-toolbar>

        <ion-grid [fixed]="true">
          <ion-row class="row-with-line-break">
            <ion-col class="col1">*9 Broken barcode(Accept)</ion-col>
          </ion-row>
        
          <ion-row class="row-with-line-break">
            <ion-col class="col1">*1 Skip next item</ion-col>
          </ion-row>
        
          <ion-row class="row-with-line-break">
            <ion-col class="col1">*0 Stock out zero line</ion-col>
          </ion-row>
        
          <ion-row class="row-with-line-break">
            <ion-col class="col1">* None-stock item (Accept)</ion-col>
          </ion-row>
        </ion-grid>
        
  
        <ion-button (click)="modal.dismiss()" expand="block" class="modal-button">Back</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  

</ion-content>

<!-- <ion-footer>
  <ion-button mode="md" style="width: 100%;" class="btn btn-dark" [disabled]="barcode == ''" (click)="checkBarcodeInput()">
    <ion-icon name="scan" style="margin-right: 10px;"></ion-icon>Continue
  </ion-button>
</ion-footer> -->

<ion-footer class="ion-no-border ion-padding">
  <ion-button mode="md" style="width: 49%;margin-right: 2%;" class="btn" (click)="scan()" [disabled]="!isSupported"> 
    <ion-icon name="scan" style="margin-right: 10px;"></ion-icon> Scan
  </ion-button>
  <ion-button mode="md" style="width: 49%;" class="btn btn-dark" [disabled]="barcode == ''" (click)="checkBarcodeInput()">
    Continue
  </ion-button>
</ion-footer>
