<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home2"></ion-back-button>
    </ion-buttons>

    <div class="ion-page" id="main-content1">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            Transfer
          </ion-title>
        </ion-toolbar>
      </ion-header>
    </div>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">

    <ion-list-header>    
      <ion-toolbar>
          <ion-label color="dark"><span style="color: #ffff00">| </span> Select Source Location </ion-label>
        <ion-buttons slot="end">
          <ion-icon style="color:  #e87100;" id="open-modal"name="alert-circle-outline" class="enlargeicon" ></ion-icon>
          </ion-buttons>
      </ion-toolbar>
    </ion-list-header>

    <ion-row>
      <ion-col size="12">
        <ion-item  class="yellow-card" (click)="transferThis()">
          <ion-label>
            <h3>Bayswater</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" >
          <ion-label>
            <h3>Bendotti</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card">
          <ion-label>
            <h3>Cold Store</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card">
          <ion-label>
            <h3>FO</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
     <ion-col size="12">
        <ion-item  class="yellow-card" (click)="transfer3()">
          <ion-label>
            <h3>ISA</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
 

</ion-content>
