<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home2"></ion-back-button>
    </ion-buttons>

    <div class="ion-page" id="main-content1">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            Transfer
          </ion-title>
        </ion-toolbar>
      </ion-header>
    </div>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">

     <ion-list-header>    
      <ion-toolbar>
        <ion-label color="dark" style="text-align: left;"> 
          <div class="col col-50">
          &nbsp; Select Source Location
          </div>  </ion-label>
        <!-- <ion-buttons slot="end">
          <ion-icon style="color:  #e87100;" id="open-modal6"name="alert-circle-outline" class="enlargeicon" ></ion-icon>
          </ion-buttons> -->
      </ion-toolbar>
        </ion-list-header>


    <ion-row>
      <ion-col size="12">
        <ion-item  class="yellow-card" (click)="transferThis()">
          <ion-label>
            <h3>Bayswater</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" (click)="transferBin()">
          <ion-label>
            <h3>Bendotti</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" (click)="stageCollect()">
          <ion-label>
            <h3>Cold Store</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" (click)="browse()">
          <ion-label>
            <h3>FO</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" (click)="browse()">
          <ion-label>
            <h3>ISA</h3>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
 

</ion-content>
