<ion-header>
  <ion-toolbar>
    <ion-title>transfer-comp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Icon Container -->
  <div class="icon-container">
    <div class="icon-row">
      <ion-icon name="square" class="box-icon"></ion-icon>
      <ion-icon name="arrow-forward" class="arrow-icon"></ion-icon>
    </div>
    <div class="icon-row">
      <ion-icon name="arrow-back" class="arrow-icon"></ion-icon>
      <ion-icon name="square" class="box-icon"></ion-icon>
    </div>
  </div>

  <!-- Transfer Order Complete Title -->
  <ion-toolbar>
    <ion-title class="text-center">Transfer Order</ion-title>
    <ion-title class="text-center">Complete</ion-title>
  </ion-toolbar>

  <!-- References and Code -->
  <ion-toolbar>
    <ion-row>
      <ion-col class="bold-text">References</ion-col>
      <ion-col></ion-col>
      <ion-col><span class="green-background">CLOSED</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="black-text">10-0300-9754</ion-col>
    </ion-row>
  </ion-toolbar>

  <!-- Source and Destination Information -->
  <ion-toolbar>
    <ion-row>
      <ion-col class="bold-text">Source</ion-col>
      <ion-col></ion-col>
      <ion-col class="bold-text">Destination</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="black-text">Photo-Inwards</ion-col>
      <ion-col></ion-col>
      <ion-col class="black-text">Photo-Main</ion-col>
    </ion-row>
  </ion-toolbar>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="button-container">
    <ion-button mode="md" class="btn btn-dark yes-button" (click)="transfer()">
      New Transfer
    </ion-button>
    <ion-button mode="md" class="btn btn-light no-button" (click)="home()">
      Main Menu
    </ion-button>
  </div>
</ion-footer>
