
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/stage-collect-order"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title class="title-center" >Transfer Order</ion-title>
    <ion-buttons slot="primary">
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

  <ion-content class="ion-padding">
    
    <ion-list-header>    
      <ion-toolbar>
          <ion-label color="dark"><span style="color: #ffff00">| </span> Select Putaway Bin </ion-label>
        <ion-buttons slot="end">
          <ion-icon style="color:  #e87100;" id="open-modal"name="alert-circle-outline" class="enlargeicon" ></ion-icon>
          </ion-buttons>
      </ion-toolbar>
    </ion-list-header>

    <div class="ion-padding">
      <form class="form-default" >

        <ion-list class="item-card-list" lines="none">
          <ion-item>
            <ion-label color="tertiary" position="stacked">Enter or Scan Barcode</ion-label>
            <ion-input placeholder="xxxx-xxxx-xxxx-xxxx" name="barcode" [(ngModel)]="barcode"></ion-input>
          </ion-item>
        </ion-list>
  
      </form>
    </div>

    
  
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-button mode="md" style="width: 49%;margin-right: 2%;" class="btn" (click)="scan()" [disabled]="!isSupported"> <ion-icon name="scan" style="margin-right: 10px;"></ion-icon> Scan</ion-button>
    <ion-button mode="md" style="width: 49%;" class="btn btn-dark" [disabled]="barcode == ''" (click)="continue()">Continue</ion-button>
  </ion-footer>

  