ion-content{
    --background : #fff;
}

ion-footer {
    padding: 20px;
    background: #fff;
}


ion-input{
    font-size: 1.5rem;
    margin-top: 10px;
}

form.form-default ion-list.item-card-list ion-item{
    padding: 6px;
    border-width: 2px;
}

form.form-default ion-list.item-card-list ion-item.item-has-focus {
    border-width: 2px;
}

/*ion-modal {
    --height: 90%;
    --width: 50%;
  } */

  .custom-butt {
    --background: #FFCD41; /* Set the default background color */
    --background-activated: black; /* Set the color when button is active (clicked) */
    --background-hover: black; /* Set the color when button is hovered */
  
    /* Additional styling for text color, border, etc. can be added here */
  }
  

.fonttype{
    margin-bottom:10px;
    margin-inline: 30px;
    font-weight: bold;
}

.spacing{
    margin-left: 20px;
}



 /* .custom-modal {
    --width: 100%; 
      }*/
  

 /* .ion-item-button {
    border: 0.2rem solid #C4DBF2;
    margin: 20px auto;
    
    ion-col {
        display: flex;
        // text-align: center;
        justify-content: space-around;
        align-items: center;
    }

    ion-label {
        margin:24px 0;
        // margin: 0; /* Change this line */
        // text-align: center; /* Add this line */
    

    /* ion-col:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;

    }
*/    
    


ion-header{
    border-bottom: 1px solid #ccc;
}


ion-modal {
    --height: 90%;
}

.ion-item-button{

    border:0.2rem solid #C4DBF2;
    margin:20px auto;
   

    ion-col{
        display: flex;
        // text-align: center;
        justify-content: space-around;
        align-items: center;
    }

    ion-label{
        margin: 24px 0;
    }

}

ion-toolbar {
    .title-left {
      padding-inline-start: 0;
      padding-inline-end: 0;
      text-align: left;
  
    }
}

.col{
    border: 3px solid #fcc38d;
    border-bottom: none;
    border-top: none;
    border-right: none;

}

