<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/binrefills"></ion-back-button>
    </ion-buttons>

    <div class="ion-page" id="main-content1">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            Transfer Order
          </ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true"  class="ion-padding">

  <ion-list-header>
    <ion-toolbar>
      <ion-label class="borderLeftYellow" color="dark" style="text-align: left;">Select Refill Location</ion-label>
      <!-- <ion-label color="dark"><span style="color: #fcc38d">|</span> Scanned Products</ion-label> -->
      <ion-buttons slot="end">
        <ion-icon style="color:  #e87100;" name="alert-circle-outline" id="open-modal" class="enlargeicon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-list-header>

  <ion-row>
    <ion-col size="12">
      <ion-item  class="yellow-card" (click)="showLoading()">
        <ion-label>
          <h3>PWHS</h3>
        </ion-label>
        <ion-icon  name="arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item  class="yellow-card" (click)="transferBin()">
        <ion-label>
          <h3></h3>
        </ion-label>
        <ion-icon  name="arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item  class="yellow-card" (click)="binRefill()">
        <ion-label>
          <h3></h3>
        </ion-label>
        <ion-icon  name="arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item  class="yellow-card" (click)="transferBin()">
        <ion-label>
          <h3></h3>
        </ion-label>
        <ion-icon  name="arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item  class="yellow-card" (click)="binRefill()">
        <ion-label>
          <h3></h3>
        </ion-label>
        <ion-icon  name="arrow-forward-outline"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>


</ion-content>

<ion-footer class="ion-no-border">

  <ion-button mode="md" style="width: 100%;" class="btn btn-dark"  (click)="gotobinrefill()">EXIT</ion-button>
</ion-footer>
