<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button>
          <ion-back-button  defaultHref="/home2"></ion-back-button>
         
        </ion-button>
      </ion-buttons>
      <ion-title class="title-center" >Transfer</ion-title>
      <ion-buttons slot="primary">
        <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      </ion-buttons>
    </ion-toolbar>  
  </ion-header>

  <div class="ion-padding">

    <ion-toolbar>
      <ion-title class="title-left"><span style="color: #eddc00">|</span>Select Refill Location</ion-title>
      <ion-button fill="none" id="open-modal" slot="primary">
        <ion-icon slot="icon-only"  color="primary" name="alert-circle-outline"></ion-icon>
        
      </ion-button>
    </ion-toolbar> 


    <ion-row>
      <ion-col size="12">
        <ion-item  class="yellow-card" (click)="showLoading()">
          <ion-label>
            <h2>01 &nbsp; PWHS</h2>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" >
          <ion-label>
            <h2>02 &nbsp; </h2>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" >
          <ion-label>
            <h2>03 &nbsp; </h2>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" >
          <ion-label>
            <h2>04 &nbsp; </h2>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" >
          <ion-label>
            <h2>05 &nbsp; </h2>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item  class="yellow-card" (click)="gotobinrefill()">
          <ion-label>
            <h2>EXIT </h2>
          </ion-label>
          <ion-icon  name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
