.text-center{
    text-align: left;
    padding-left: 20px;
}

.larger-font {
  font-size: 16px; /* Adjust the font size as needed */
  color: gray;
}

.col{
  border-left: 3px solid   red;
  border-bottom: none;
  border-top: none;
  border-right: none;
}
.button-with-space{
    margin-bottom: 10px;
}

ion-input{
  font-size: 1.5rem;
  margin-top: 10px;
  // text-transform: uppercase;
}

form.form-default ion-list.item-card-list ion-item{
  padding: 6px;
  border-width: 2px;
}

form.form-default ion-list.item-card-list ion-item.item-has-focus {
  border-width: 2px;
}


$custom-primary: #FFA500; // Orange
$custom-secondary: #000000; // Black

.item1 {
  --ion-background-color: $custom-primary; // Orange background
  color: $custom-secondary; // Black text color
  padding: 10px; // Adjust padding as needed
  font-size: 16px; // Adjust font size as needed
  border-bottom: 1px solid $custom-secondary; // Add a border
}

.modal-button {
  margin-top: 480px;
}

.text-center {
    text-align: left;
  }

  .black-icon {
    color: black !important; /* Use !important to override Ionic's default styles */
  }

  .transparent-button {
    --background: transparent;
  }
  
.light-red-alert{
  --background: #aa2828;
}

.custom-title {
  font-size: 24px; /* Increase the font size as desired */
  color: #0c0101; /* Use a darker color code or color name */
  font: bold;
  display: flex;
  align-items: flex-start;
  text-align: left;
  position: relative; /* Add this line to ensure the red block respects the new alignment */
}

.red-block {
  width: 2px;
  height: 20px;
  background-color: red;
  margin-right: 5px;
}

/* Custom CSS class for loading component */
.loading-alert {
  --background: #fff; /* Background color */
  --border-radius: 10px; /* Border radius */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow */
  --max-width: 300px; /* Adjust the maximum width as needed */
  --width: 80%; /* Adjust the width as needed */
  --height: auto; /* Allow height to adjust to content */
  --padding: 16px; /* Adjust the padding as needed */
}

ion-card {
  padding: 10px;
  border-radius: 10px;
  margin: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add this line for the shadow effect */
}

.bg-orange {
  --background: #FFE9E6;
}

.mt-10 {
  margin-top: 10px; /* Adjust the top margin as needed */
}

.rounded-card {
  border-radius: 10px;
}


ion-card-title {
  margin-bottom: -10px; /* Use negative margin to reduce the space */
}

ion-card-content {
  padding-top: 0; /* Remove top padding for the card content */
}

ion-label {
  margin-bottom: 0; /* Remove bottom margin for the label inside the content */
}

.bold-text {
  color: #000000;
  font-weight: bold; /* Set the font weight to bold */
}


.light-red-alert {
  --padding-start: 20px; 
  --padding-end: 20px; 
}

.header-with-underline {
  border-bottom: 0.05px solid #999999; /* Add your desired color here */
}

ion-content{
  --background: #fff;
}

.location-row {
  margin-left: 10px; /* Adjust the left margin for the location row */
}

ion-toolbar {
  .title-left {
    padding-inline-start: 0;
    padding-inline-end: 0;
    text-align: left;
  }
}

.sizeW{
  width: 100%;
  margin-left: auto;
}

ion-modal {
  --height: 90%;
}

.ion-item-button{

  border:0.2rem solid #C4DBF2;
  margin:20px auto;
 

  ion-col{
      display: flex;
      // text-align: center;
      justify-content: space-around;
      align-items: center;
  }

  ion-label{
      margin: 24px 0;
  }

}
