.text-center{
    text-align: left;
    padding-left: 20px;
}

.col{
  border-left: 3px solid   yellow;
  border-bottom: none;
  border-top: none;
  border-right: none;
  }

  
.text-center::before {
    content: ""; /* Create an empty pseudo-element */
    display: inline-block;
    width: 8px; /* Adjust the width as needed */
    height: 100%; /* Set the height to match the text height */
    background-color: yellow; /* Set the desired color */
    margin-right: 8px; /* Adjust the spacing between the color and text */
  }

  .bold-text{
    color: gray;
}

/* Styling ion-label elements within ion-col */
ion-col ion-label {
    color: #7c8086;
  }
  
  /* Styling ion-card elements */
  .ion-card {
    color: #000;
    margin: 10px; /* Add margin if needed */
    padding: 10px; /* Add padding if needed */
    --background: #FFFFED; /* Set the background color to yellow */
  }
  
  /* Styling ion-card-title elements within ion-card */
  ion-card ion-card-title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  /* Styling ion-row elements with the .blue-bg class */
  ion-row.blue-bg {
    --background: #e9f1fe;
  }
  
  /* Add styles for other elements as needed */
  
  
.bold-text{
    font: bold;
    color: #7c8086;
}

/* Styling ion-card-title elements within ion-card-header */
/* Style the solid yellow inline block */
ion-card-title.with-inline-block {
    position: relative;
  }
  
  ion-card-title.with-inline-block::before {
    content: "";
    display: inline-block;
    width: 0.5em; /* Adjust the width to make it thinner */
    height: 2em; /* Set the height to match the letter "F" */
    background-color: yellow;
    margin-right: 5px; /* Adjust the spacing between the inline block and text */
    vertical-align: middle; /* Align the inline block vertically with text */
  }

  /* Add this CSS to your component's stylesheet */
ion-button[slot="start"] {
    --background: transparent; /* Remove the orange background */
    color: var(--ion-color-primary); /* Set the text color to the primary color */
  }
  
  .col1 {
    background-color: transparent; /* Set background color to transparent */
    border: solid 1px #000; /* Set border color to black */
    color: #000; /* Set text color to black */
    text-align: center;
  }