
.header-with-underline {
  border-bottom: 0.05px solid #999999; /* Add your desired color here */
}
.bg-orange{
  background: #fdfbe6;
}

ion-row.blue-bg {
  --background: #e9f1fe;
}

.custom-label{
  font-size: 24px; /* Adjust the font size as needed */
  color: black;
  font-weight: bold; /* Make the text bold if desired */
}

.col1 {
  background-color: transparent; /* Set background color to transparent */
  border: solid 1px #000; /* Set border color to black */
  color: #000; /* Set text color to black */
  text-align: center;
}
.row-with-line-break {
  margin-bottom: 10px; /* Adjust the value as needed to control the spacing */
}

/* Add styles for other elements as needed */


.bold-text{
  font: bold;
  color: #7c8086;
}

ion-card{
  color: #000;
  margin: 0px;
  margin-bottom: 20px;
  
  ion-card-title{
      font-size: 16px;
      font-weight: bold; 
  }
  
  padding: 10px;
  border-radius: 10px;
  --background:#fdfbe6;
}

ion-input{
  font-size: 1.5rem;
  margin-top: 10px;
  }

/* Styling ion-card-title elements within ion-card */
ion-card ion-card-title {
  font-size: 1.4rem;
  font-weight: bold;
}
/* Styling ion-label elements within ion-col */
ion-col ion-label {
  color: #7c8086;
}
form.form-default ion-list.item-card-list ion-item{
  padding: 6px;
  border-width: 2px;
  }
  
  form.form-default ion-list.item-card-list ion-item.item-has-focus {
  border-width: 2px;
  }

.col{
  border-left: 3px solid   #ffff00;
  border-bottom: none;
  border-top: none;
  border-right: none;
  }


  ion-content{
    --background: white;
  }


  .rounded-card{
    border-radius: 10px;
}
  /* Add styles for other elements as needed */
  
  
  .bold-text {
    color: black;
}
  
  .col1 {
    background-color: transparent; /* Set background color to transparent */
    border: solid 1px #000; /* Set border color to black */
    color: #000; /* Set text color to black */
    text-align: center;
  }
  
.shadow {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add this line for the shadow effect */
}

.custom-title { 
  color: #0c0101; /* Use a darker color code or color name */
  font: bold;
  display: flex;
  align-items: flex-start;
  text-align: left;
  position: relative; /* Add this line to ensure the red block respects the new alignment */
}