<ion-header   [translucent]="true">
  <ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/transfer-scanproduct"></ion-back-button>
    </ion-buttons>
   
    <ion-title>
      Transfer
    </ion-title>
  
  </ion-toolbar>
</ion-header>


<!--TO DISPLAY MODAL-->
<ion-modal #modal trigger="open-modal4">
  <ng-template>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title class="title-left"><span class="blue-text">| </span>Barcode Shortcuts & Description</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p class=" ">Helpful Hints</p>

        <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
          <ion-row style="color: black;">
            <ion-col size="3" style="text-align: center"><p class="">[ - ]</p></ion-col>
            <ion-col><h6 >Undo Scan</h6></ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
          <ion-row >
            <ion-col size="3" style="text-align: center"><p class="">[ .NNN ]</p></ion-col>
            <ion-col><h6>Set Quantity</h6></ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
          <ion-row >
            <ion-col size="3" style="text-align: center"><p class="">[ .X*Y ]</p></ion-col>
            <ion-col><h6> Calc Quantity </h6></ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
          <ion-row >
            <ion-col size="3" style="text-align: center"><p class="">[ # ]</p></ion-col>
            <ion-col><h6 >Show Scan History</h6></ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
          <ion-row >
            <ion-col size="3" style="text-align: center"><p class="">[ #NN ]</p></ion-col>
            <ion-col><h6 >Set Box Number</h6></ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
          <ion-row >
            <ion-col size="3" style="text-align: center"><p class="">[ ## ]</p></ion-col>
            <ion-col><h6 >Next Box</h6></ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
          <ion-row >
            <ion-col size="3" style="text-align: center"><p class="">[ #. ]</p></ion-col>
            <ion-col><h6 >Prev Box</h6></ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
          <ion-row >
            <ion-col size="3" style="text-align: center"><p class="">*5</p></ion-col>
            <ion-col><h6 >Item Search</h6></ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
          <ion-row >
            <ion-col size="3" style="text-align: center"><p class="">*4</p></ion-col>
            <ion-col><h6 >Bin Lookup</h6></ion-col>
          </ion-row>
        </ion-grid>

    
        <ion-button class="" expand="block" (click)="modal.dismiss()">Back</ion-button>
      
        <ion-grid class="item-has-start-slot item md item-fill-none ion-activatable ion-focusable hydrated " style="padding-top: 20px;">
          <ion-row >
            <ion-col size="3" style="text-align: center"><p class=""></p></ion-col>
            <ion-col><h6 ></h6></ion-col>
          </ion-row>
        </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-content class="ion-padding">
  <ion-list-header>
    <ion-toolbar>
      <ion-label color="dark" style="text-align: left;">
        <div class="col col-50">
          &nbsp; Scan Batch/Serials
        </div>
      </ion-label>
      <ion-buttons slot="end">
        <ion-icon style="color: #e87100;" id="open-modal4" name="alert-circle-outline" class="enlargeicon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-list-header>

  <form class="form-default">
    <ion-list class="item-card-list" lines="none">
      <ion-item>
        <ion-label color="tertiary" position="stacked">Enter or Scan Barcode</ion-label>
        <ion-input placeholder="xxxx-xxxx-xxxx-xxxx" name="barcode" [(ngModel)]="barcode"></ion-input>
      </ion-item>
    </ion-list>
  </form>

    <ion-row>
      <ion-col style="color: gray">Source</ion-col>
      <ion-col style="color: gray">Destination</ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="color:black">Photo-Inwards</ion-col>
      <ion-col style="color:black"> Photo Main</ion-col>
    </ion-row>

    <ion-card class="yellow-card">
        <ion-card-title>FujiFilm X100V</ion-card-title>
      <ion-card-content style="padding-inline: 10px;" class="yellow-card">
        <ion-row>
          <ion-col size="12" style="color: gray;">Item Number <br/> <div class="bold mt-5">Camera-01</div></ion-col>
          <ion-col size="6" style="color: gray;">Barcode <br/> <div class="bold mt-5">9352297077571</div></ion-col>
          <ion-col size="6" style="color: gray;">Available Qty <br/> <div class="bold mt-5">05</div></ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    



</ion-content>



    <ion-footer class="ion-no-border">
      <ion-button mode="md" style="margin-top: 10px;" class="btn btn-dark" >
        Continue
      </ion-button>
    </ion-footer>