ion-content{
    --background : #fff;
}
.bold{ font-weight: 600; color: var(--ion-color-medium);font-size: 1rem;}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 15px;
}

ion-header{
    border-bottom: 2px solid #ccc;
}

.col{
    border: 3px solid   yellow;
    border-bottom: none;
    border-top: none;
    border-right: none;

}
ion-footer {
    padding: 20px;
    background: #fff;
}


.yellow-card{
    --background:#FCF8C2;
    
    margin: 0px;
    
}

ion-col{
    label{        
        color:#7c8086;
    }
    
 
}

.blue-bg{
    --background:#e9f1fe;
    margin-inline: 0px;
}

ion-card{
    color: #000;
    margin: 0px;
    margin-bottom: 20px;
    
    ion-card-title{
        font-size: 1.4rem;
        font-weight: bold; 
    }
    
    padding: 10px;
    border-radius: 10px;
    --background:#fdfbe6;
  }

ion-modal {
    --height: 90%;
}

.ion-item-button{

    border:0.2rem solid #C4DBF2;
    margin:20px auto;
   

    ion-col{
        display: flex;
        // text-align: center;
        justify-content: space-around;
        align-items: center;
    }

    ion-label{
        margin: 24px 0;
    }

}

ion-toolbar {
    .title-left {
      padding-inline-start: 0;
      padding-inline-end: 0;
      text-align: left;
  
    }
}

ion-footer {
    padding: 20px;
    background: #fff;
}

.btn1 {
    --background: #fff; /* Set the base color to white */
    --color: #000; /* Set the font color to black */
    border: 2px solid #000; /* Set the border color and style */
  }


.grid-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping of items */
    overflow-x: auto; /* Enable horizontal scrolling if necessary */
  }

  .ion-grid {
    flex: 0 0 auto; /* Reset flex to initial values */
    width: auto; /* Set width to auto */
    white-space: nowrap; /* Prevent wrapping of grid elements */
    overflow: auto; /* Enable scrolling if necessary */
  }

  .ion-col {
    white-space: nowrap; /* Prevent wrapping of column content */
    display: inline-block; /* Display columns inline */
  }

  ion-input{
    font-size: 1.5rem;
    margin-top: 10px;
}

form.form-default ion-list.item-card-list ion-item{
    padding: 6px;
    border-width: 2px;
}

form.form-default ion-list.item-card-list ion-item.item-has-focus {
    border-width: 2px;
}


////////////////////////
/// 

