ion-content{
    --background : #fff;
}
.bold{ font-weight: 600; color: var(--ion-color-medium);font-size: 1rem;}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 15px;
}

ion-header{
    border-bottom: 2px solid #ccc;
}

.col{
    border: 3px solid   yellow;
    border-bottom: none;
    border-top: none;
    border-right: none;

}
ion-footer {
    padding: 20px;
    background: #fff;
}


.yellow-card{
    --background:#FCF8C2;
    width: 100%;
    margin-left:auto;
    
}

ion-col{
    label{        
        color:#7c8086;
    }
    
    p{
        font-weight: bold;
    }
}

.blue-bg{
    --background:#e9f1fe;
    margin-inline: 0px;
}

ion-card{
    color: #000;

    ion-card-title{
        font-size: 1.4rem;
        font-weight: bold; 
    }

    ion-button{
        // font-size: 1.8rem;
        font-weight: bold;
        color:#4471ee;
        float: right;
        align-self: center;
    }

}

ion-modal {
    --height: 90%;
}

.ion-item-button{

    border:0.2rem solid #C4DBF2;
    margin:20px auto;
   

    ion-col{
        display: flex;
        // text-align: center;
        justify-content: space-around;
        align-items: center;
    }

    ion-label{
        margin: 24px 0;
    }

}

ion-toolbar {
    .title-left {
      padding-inline-start: 0;
      padding-inline-end: 0;
      text-align: left;
  
    }
}

ion-footer {
    padding: 20px;
    background: #fff;
}

.btn1 {
    --background: #fff; /* Set the base color to white */
    --color: #000; /* Set the font color to black */
    border: 2px solid #000; /* Set the border color and style */
  }

  ion-card{
    padding: 15px;
    border-radius: 10px;

}

ion-card-title{
    padding-left: 15px;
   }

   .enlargeicon{
    font-size: 24px;
}
