<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/stock-lookup"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Stock Lookup
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list-header>
      <ion-label color="dark">Scanned Product</ion-label>
    </ion-list-header>
    <ion-card class="ion-card-chart ion-no-margin animate__animated animate__fadeIn">
      <ion-row>
        <ion-col size="12">Item Number <br/> <div class="bold mt-5">A123456</div></ion-col>
        <ion-col size="6">Barcode <br/> <div class="bold mt-5">1234-567-896</div></ion-col>
        <ion-col size="6">TQOH <br/> <div class="bold mt-5">99 /-</div></ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="ion-card-chart ion-no-margin animate__animated animate__fadeIn bg-orange mt-10">
      <ion-row>
        <ion-col size="12">Item Number <br/> <div class="bold mt-5">A123456</div></ion-col>
        <ion-col size="6">Barcode <br/> <div class="bold mt-5">1234-567-896</div></ion-col>
        <ion-col size="6">TQOH <br/> <div class="bold mt-5">99 /-</div></ion-col>
      </ion-row>
    </ion-card>
  
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-button mode="md"  class="btn" (click)="scan()" > <ion-icon name="scan" style="margin-right: 10px;"></ion-icon> Scan Again</ion-button>
</ion-footer>
