

ion-list{
    background: transparent !important;
    transition: 0 !important;
}
.col1{
    background-color: white;
}
ion-button{
    --background: #FCF8C2;
      --background-hover:#FCF8C2;
      --background-activated: #FCF8C2;
      --background-focused: #FCF8C2;
    
      --color:black;
}