<ion-header collapse="fade" [translucent]="true" class="ion-padding" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="/item2"  size="large"></ion-back-button>
    </ion-buttons>
      <ion-title >Bin Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-grid>
      <ion-row>
       <ion-col size="3">
          <ion-label>Item#:</ion-label>
       </ion-col>
       <ion-col class="col1" >
          17128
      </ion-col> 
  </ion-row>
  </ion-grid>
  </ion-list>
  <br><br>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
  <ion-label><b>SG LARGE 200X150MM</b></ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <br><br>
  <ion-list>
    <ion-grid>
      <ion-row>
       <ion-col size="3">
          <ion-label>TQOH:</ion-label>
       </ion-col>
       <ion-col class="col1" >
          218
      </ion-col> 
      <ion-col>
      </ion-col>
  </ion-row>
  </ion-grid>
  </ion-list>
  <ion-list>
    <ion-grid>
      <ion-row>
       <ion-col size="3">
          <ion-label>Min/Max:</ion-label>
       </ion-col>
       <ion-col class="col1" >
          1
      </ion-col> 
      <ion-col class="col1">
        0
      </ion-col>
  </ion-row>
  </ion-grid>
  </ion-list>
  <ion-list>
    <ion-grid>
      <ion-row>
       <ion-col size="5">
          <ion-label>Article Page:</ion-label>
       </ion-col>
       <ion-col>
          19 &nbsp; of &nbsp;19
      </ion-col> 
  </ion-row>
  </ion-grid>
  </ion-list>
  <ion-list>
    <ion-grid>
      <ion-row>
       <ion-col>
          <ion-button  (click)="gotobinrefill()" expand="full">Done</ion-button> 
       </ion-col>
       <ion-col>
        <ion-button  (click)="gotoitem2()" class="large-button" expand="full">< Previous</ion-button> 
      </ion-col> 
  </ion-row>
  </ion-grid>
  </ion-list>
  <ion-list>
    <ion-grid>
      <ion-row>
       <ion-col size="2">
          <ion-label>LOCATION:</ion-label>
       </ion-col>
       <ion-col class="col1" >
        PWHS
      </ion-col> 
  </ion-row>
  </ion-grid>
  </ion-list>
  <ion-list>
    <ion-grid>
      <ion-row>
       <ion-col size="2">
          <ion-label>BIN SLOT:</ion-label>
       </ion-col>
       <ion-col class="col1" >
        94C2D
      </ion-col> 
  </ion-row>
  </ion-grid>
  </ion-list>
  <ion-list>
    <ion-grid>
      <ion-row>
       <ion-col size="2">
          <ion-label>BULK BIN(S):</ion-label>
       </ion-col>
       <ion-col class="col1" >
        +52*48+57*04
      </ion-col> 
  </ion-row>
  </ion-grid>
  </ion-list>
  <ion-list>
    <ion-grid>
      <ion-row>
       <ion-col>
          <ion-button   expand="full">Item Search</ion-button> 
       </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>
