<!-- <ion-header>
  <ion-toolbar class="header-with-underline">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home2"></ion-back-button>
    </ion-buttons>
    <ion-title>Bin Lookup</ion-title>
    
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content  [fullscreen]="true" class="white-background">
  <ion-header>
    <ion-toolbar class="header-with-underline white-background">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home2"></ion-back-button>
      </ion-buttons>
      <ion-title>Bin Lookup</ion-title>
      
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-list-header collapse="condense">
      <ion-toolbar>
        <ion-label color="dark" style="text-align: left;">
          <div class="col col-50">
            &nbsp; Bin Location
            </div> 
          </ion-label>
        <ion-buttons slot="primary" >
          <ion-icon style="color:  #e87100;" id="open-modal"name="alert-circle-outline" style="font-size: 24px; color: #FFA500;" ></ion-icon>
          </ion-buttons>
      </ion-toolbar>
    </ion-list-header>
    
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" class="red-card" (click)="nextPage()">
          <ion-label>
            <h3>Jas-Main</h3>
          </ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="red-card">
          <ion-label>
            <h3>Jas-My Stores</h3>
          </ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="red-card">
          <ion-label>
            <h3>Midwest</h3>
          </ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="red-card">
          <ion-label>
            <h3>Msp</h3>
          </ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="red-card">
          <ion-label>
            <h3>Photo-Factory</h3>
          </ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="red-card">
          <ion-label>
            <h3>Jas-MywearHouse</h3>
          </ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="red-card">
          <ion-label>
            <h3>Vegas</h3>
          </ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none" class="red-card">
          <ion-label>
            <h3>Photo-Gallery</h3>
          </ion-label>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
  
  
  
  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-content class="ion-padding">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title class="title-left"><div class="col col-50">&nbsp;Description</div></ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-row style="color: black;">
        <ion-col><h6> Bibendum consectetur tortor tinicidunt ac donec lorem
          ornare gravida id nisi enim in consectetur semper.  </h6></ion-col>
        </ion-row>
        <ion-button (click)="modal.dismiss()" expand="block" class="modal-button" style="margin-top: 430px;">Back</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
