.text-center{
    text-align: left;
    padding-left: 20px;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.header-with-underline {
  border-bottom: 0.05px solid #999999; /* Add your desired color here */
}


.item1{
    --background: lightblue;
    margin-inline: 20px;
    margin-bottom: 1rem;
}

.button-with-space {
    margin-bottom: 10px; 
}
  
ion-toolbar {
  .title-left {
    padding-inline-start: 0;
    padding-inline-end: 0;
    text-align: left;

  }
}

/* CSS for the custom items */
// Custom theme colors
$custom-primary: #FFA500; // Orange
$custom-secondary: #000000; // Black

.item1 {
  --ion-background-color: $custom-primary; // Orange background
  color: $custom-secondary; // Black text color
  padding: 10px; // Adjust padding as needed
  font-size: 20px; // Adjust font size as needed
  border-bottom: 1px solid $custom-secondary; // Add a border
  --background: #FFE9E6;
}

.red-card{
  --background: #FFE9E6;
}

ion-card{
  color: #000;
  margin: 0px;
  margin-bottom: 20px;
  
  ion-card-title{
      font-size: 1.4rem;
      font-weight: bold; 
  }
}

ion-item{
  border-radius: 8px;
  h3{
      font-weight: 600;
      // font-size: 1.8rem;
      padding-block: 10px;
  }

}

.modal-button {
  margin-top: 480px;
}

.text-center {
  text-align: left;
}

.black-icon {
  color: black !important; /* Use !important to override Ionic's default styles */
}

.transparent-button {
  --background: transparent;
}

.text-center::before {
  content: "";
  display: inline-block;
  width: 4px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  background-color: red;
  margin-right: 5px; /* Adjust the margin as needed */
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px; 
  justify-content: center;
}

.card-row ion-card {
  width: calc(95% - 5px); 
  margin: 5px;
}

.col{
  border: 3px solid #ff0000;
  border-bottom: none;
  border-top: none;
  border-right: none;
}


ion-content {
  --ion-background-color: #ffffff; 
}

ion-row {
  background-color: #ffffff; /* Set the background color to white */
}

ion-toolbar {
  --background: transparent; /* Set the toolbar background to be transparent */
}

/* Set the background color to white for the entire body */
body {
  background-color: #fff;
  margin: 0;
}

/* Set the background color to white for the ion-app container */
ion-app {
  background-color: #fff;
}

ion-toolbar {
  .title-left {
    padding-inline-start: 0;
    padding-inline-end: 0;
    text-align: left;
  }
}

ion-content {
  --background: #fff;
}

/* Add any additional styles as needed */
ion-item{ --border-color: #FFF; }

.borderLeft{
  border-left: #ff0000 5px solid;
  padding-left: 5px;
  margin-left: 0px;
}

ion-modal {
  --height: 90%;
}

.ion-item-button{

  border:0.2rem solid #C4DBF2;
  margin:20px auto;
 

  ion-col{
      display: flex;
      // text-align: center;
      justify-content: space-around;
      align-items: center;
  }

  ion-label{
      margin: 24px 0;
  }

}