<ion-header>
  <ion-toolbar class="header-with-underline">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Bin Lookup</ion-title>
    
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-title class="text-center">Select Bin <br>Lookup Location</ion-title>
    <ion-buttons slot="end">
      <ion-icon id="open-modal" name="alert-circle-outline" style="font-size: 24px; color: #FFA500;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <ion-list class="card-row">
    <ion-card (click)="nextPage()" class="item1" button lines="none">
      <ion-label>Jas-Main</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-card>
    <ion-card (click)="nextPage()" class="item1" button lines="none">
      <ion-label>Jas-My Stores</ion-label>
    </ion-card>
    <ion-card class="item1" button lines="none">
      <ion-label>Midwest</ion-label>
    </ion-card>
    <ion-card class="item1" button lines="none">
      <ion-label>Msp</ion-label>
    </ion-card>
    <ion-card class="item1" button lines="none">
      <ion-label>Photo-Factory</ion-label>
    </ion-card>
    <ion-card class="item1" button lines="none">
      <ion-label>Jas-MywearHouse</ion-label>
    </ion-card>
    <ion-card class="item1" button lines="none">
      <ion-label>Vegas</ion-label>
    </ion-card>
    <ion-card class="item1" button lines="none">
      <ion-label>Photo-Gallery</ion-label>
    </ion-card>
  </ion-list>
  
  
  
  <ion-modal #modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Header</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="ion-padding">
        <ion-toolbar>
          <ion-title class="text-center">Description</ion-title>
        </ion-toolbar>

        <ion-toolbar>
          <ion-label>
            Bibendum consectetur tortor tinicidunt ac donec lorem
            ornare gravida id nisi enim in consectetur semper. 
          </ion-label>
        </ion-toolbar>
  
        <ion-button (click)="modal.dismiss()" expand="block" class="modal-button">Back</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
