<ion-header>
  <ion-toolbar class="header-with-underline">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/scanlot"></ion-back-button>
    </ion-buttons>
    <ion-title>Transfer</ion-title>
    
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-padding" >


  <ion-list-header>
    <ion-toolbar>
      <ion-label color="dark" class="borderLeftYellow" style="text-align: left;">Enter Quantity</ion-label>
      <!-- <ion-label color="dark"><span style="color: #fcc38d">|</span> Scan Product</ion-label> -->
      <ion-buttons slot="end">
        <ion-icon style="color:  #e87100;" id="open-modal" name="alert-circle-outline"
          class="enlargeicon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-list-header>
  <form class="form-default">
    <ion-list class="item-card-list" lines="none">
      <ion-item>
        <ion-label color="tertiary" position="stacked">Pick Quantity</ion-label>
        <ion-input  placeholder="" name="barcode" [(ngModel)]="barcode" ></ion-input>
      </ion-item>
    </ion-list>

  </form>

    <ion-row>
      <ion-col style="color: gray">Source</ion-col>
      <ion-col style="color: gray">Destination</ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="color:black">Photo-Inwards</ion-col>
      <ion-col style="color:black">Photo-Main</ion-col>
    </ion-row>
    <br>

    <ion-card>
      <ion-card-header>
        <ion-label class="borderLeftYellow" color="dark" style="font-weight: bolder;font-size: 16px;">FujiFilm X100V</ion-label>
      </ion-card-header>
      <ion-card-content style="padding-inline: 10px;" class="yellow-card">

        <ion-row>
          <ion-col size="12" style="color: gray;">Item Number <br />
            <div class="bold-text mt-5">Camera-01</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="color: gray;">
            GTIN
          </ion-col>
          <ion-col class="bold-text">9352297077571</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="bold-text" style="color: gray;">BIN</ion-col>
          <ion-col class="bold-text">R-900</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="color: gray;">BRN#</ion-col>
          <ion-col class="bold-text">DEM123</ion-col>
        </ion-row>
    </ion-card-content>
    </ion-card>
  
</div>
</ion-content>


<ion-footer class="ion-no-border ion-padding">
  <ion-button mode="md" style="width: 49%;margin-right: 2%;" class="btn" (click)="YesPage()"> 
    Yes
  </ion-button>
  <ion-button mode="md" style="width: 49%;" class="btn btn-dark" [disabled]="barcode == ''" (click)="NoPage()">
    No
  </ion-button>
</ion-footer>


<!--TO DISPLAY MODAL-->
<ion-modal #modal trigger="open-modal">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-header>
        <ion-toolbar>
          <ion-title class="title-left"><span>| </span>Barcode Shortcut Code</ion-title>
        </ion-toolbar>
      </ion-header>


      <ion-grid
        class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
        <ion-row style="color: black;">
          <ion-col size="3" style="text-align: center">
            <p class="">*9</p>
          </ion-col>
          <ion-col>
            <h6>Broken Barcode (Accept)</h6>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid
        class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
        <ion-row style="color: black;">
          <ion-col size="3" style="text-align: center">
            <p class="">*1</p>
          </ion-col>
          <ion-col>
            <h6>Skip Next Item</h6>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid
        class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
        <ion-row style="color: black;">
          <ion-col size="3" style="text-align: center">
            <p class="">*0</p>
          </ion-col>
          <ion-col>
            <h6> Stock Out Zero Line </h6>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid
        class="item-has-start-slot ion-item-button button item md item-fill-none ion-activatable ion-focusable hydrated ">
        <ion-row style="color:black;">
          <ion-col size="3" style="text-align: center">
            <p class="">*</p>
          </ion-col>
          <ion-col>
            <h6>None-Stock Item (Accept)</h6>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button class="" expand="block" (click)="modal.dismiss()">Back</ion-button>

      <ion-grid class="item-has-start-slot item md item-fill-none ion-activatable ion-focusable hydrated "
        style="padding-top: 20px;">
        <ion-row>
          <ion-col size="3" style="text-align: center">
            <p class=""></p>
          </ion-col>
          <ion-col>
            <h6></h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>