<ion-content>
  <swiper class="swiper-welcome" #swiper [config]="config" (slideChange)="swiperSlideChanged($event)"
    (reachEnd)="onLastSlide()">
    <ng-template swiperSlide>
<!-- 
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card> -->

      <ion-card class="card-image" style="background-color: #fff;">
        <img src="assets/image/datapellogin2.png" style="max-width: 100%;"/>

        <ion-card-content >
          
        <img src="assets/image/logo.png"/>
        <h1 class="animate__animated animate__fadeInUp" style="margin-top: 20px;">Mobility Assistant</h1> 
        <p class="animate__animated animate__fadeInUp" style="margin-top: 20px;">Version 1.0.2</p> 
        </ion-card-content>
      </ion-card>
      
      <!-- <h3 class="animate__animated animate__fadeInUp" style="margin-top: 10px;">Datapel</h3> -->
      <!-- <img src="assets/image/logo.png"/>
      <p class="animate__animated animate__fadeInUp">Mobility Assistant</p> -->
    </ng-template>
    <!-- <ng-template swiperSlide>
      <ion-icon name="sync"></ion-icon>
      <h3>Sync across<br>all your devices</h3>
      <p>You can describe this feature here with a sentence of multiple lines.</p>
    </ng-template>
    <ng-template swiperSlide>
      <ion-icon name="stats-chart"></ion-icon>
      <h3>Extensive<br>insights</h3>
      <p>You can describe this feature here with a sentence of multiple lines.</p>
    </ng-template> -->
  </swiper>
</ion-content>

<ion-footer style="background-color: #fff;" class="ion-padding-bottom-large animate__animated animate__fadeInUp">
  <ion-button class="ion-margin" expand="block" (click)="nextSlide()" *ngIf="!last_slide">
    Next
  </ion-button>
  <ion-button class="ion-margin" expand="block" (click)="getStarted()" *ngIf="last_slide">
    Get started
  </ion-button>
</ion-footer>